<ion-list no-padding no-margin>
    <ion-list-header color="dark">
      <ion-label class="fw700">Mensagens</ion-label>
    </ion-list-header>

    <ion-item color="primary" class="text-10">
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>Mensagem do chefe 1</ion-label>
    </ion-item>

    <ion-item color="light" class="text-10">
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>Mensagem do chefe 2</ion-label>
    </ion-item>

    <ion-item color="light" class="text-10">
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>Mensagem do chefe 3</ion-label>
    </ion-item>

    <ion-item color="primary" class="text-10">
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>Mensagem do chefe 4</ion-label>
    </ion-item>

  </ion-list>